<div class="header">
  <h1>About BillManagementSystem</h1>
  <p>With BMS you have one place to track and manage all of your finances!</p>
</div>

<div class="details">
  <h2>Application Details</h2>
  <p>BillManagementSystem was created for my fullsail WD3 class project.</p>
  <p>BMS is a single page application(SPA), also known as a CRUD application which stands for create, read, update, delete.</p>
  <p>It was created using the MEAN stack, which consist of Mongo DB, Express.js, Angular 2, and Node.js.</p>
</div>
