.loading-container {
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
}

.sidebar {
  height: 100%;
  background-color: #337ab7;
  color: #FFF;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #9d9d9d;
  margin-left: -15px;
  margin-top: -24px;
  position: fixed;
}

.sidebar a {
  color: #FFF;
  padding-left: 15px;
}

.sidebar a:hover {
  color: #337ab7;
  border: 1px solid #9d9d9d;
}

.loading-container {
  margin: 0 auto;
  max-width: 225px;
  max-height: 200px;
}

@media only screen and (max-width: 560px) {
    .smaller-text-mobile label {
        font-size: 12px;
    }
}
